/* Style Guide 
* Primary Color: Red
* Secondary Color: Blue
*/


body{
background: chartreuse;

}
h1 {
  color: red;
  font-family: 'Bangers', cursive;
  font-size: 3em;
  text-align: center;
  Letter-Spacing: 6px;
}

/* Typography 
* Primary Font: font-family: 'Bangers', cursive; 

*/

